body{
    margin: 0;
    padding: 0;
}

.movie{
    width: 100%;
    height: 300px;
    position: relative;
}

/*background-image: url(../../static/img/yyqx.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
-webkit-filter: blur(15px);
-moz-filter: blur(15px);
-o-filter: blur(15px);
-ms-filter: blur(15px);
filter: blur(15px);

text-align: center;*/

.bgImg{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-filter: blur(40px);
    -moz-filter: blur(40px);
    -ms-filter: blur(40px);
    filter: blur(40px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=10,MakeShadow=false);
}

.movieInfo_content{
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    width: 100%;
    background-color: rgba(0,0,0,.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.movieInfo_content>img{
    width: 160px;
    height: 214px;
    border-radius: 4px;
    border: 2px solid #ffffff;
}

.movieInfo{
    height: 214px;
    width: 46%;
    color: #ffffff;
    padding: 5px 2%;
    display: flex;
    flex-direction: column;
}

.movieInfo span{
    font-size: 12px;
    margin: 5px 0;
}