<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"-->
<head>
    <title>基础数据上传页面</title>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="user/index::index_head" />
</head>
<body>
    <div th:replace="~{user/index::index_topBar}">
    </div>

    状态码：
    <span th:text="${code}"></span><br>
    消息：
    <span th:text="${msg}"></span>

    <th:block th:replace="user/index::index_js" />
</body>
</html>