<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>影评中心</title>
    <meta name="referrer" content="no-referrer">
    <meta name="renderer" content="webkit">

    <link rel="stylesheet" href="../../static/layui/css/layui.css" media="all">
    <link rel="stylesheet" type="text/css" href="../../static/css/user/filmCritics.css">
    <link rel="stylesheet" href="../../static/css/iconfont.css" type="text/css">
    <link rel="stylesheet" href="../../static/css/user/rotationChart.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="../../static/css/user/header.css">
</head>

<body>
    <!-- <header style="width: 100%; height: 60px; position: fixed; top: 0; z-index: 999;">
        <embed type="text/html" src="header.html" style="width: 100%;height: 100%;"/>
    </header> -->
    <header></header>
    <div class="main_banner">
        <div class="main_banner_wrap">
            <div class="main_banner_box" id="m_box">
                <a href="javascript:void(0)" class="banner_btn js_pre">
                    <span class="banner_btn_arrow"><i></i></span>
                </a>
                <a href="javascript:void(0)" class="banner_btn btn_next js_next">
                    <span class="banner_btn_arrow"><i></i></span>
                </a>
                <ul class="loopImg">
                    <li id="imgCard0">
                        <a href=""><span style="opacity:0;"></span></a>
                        <img src="https://img9.doubanio.com/view/photo/l/public/p2628777156.webp" alt="">
                        <p style="bottom:0">送你一朵小红花2020年12月31日上映！</p>
                    </li>
                    <li id="imgCard1">
                        <a href=""><span style="opacity:0.4;"></span></a>
                        <img src="https://img1.doubanio.com/view/photo/l/public/p2573578939.webp" alt="">
                        <p>灵魂不会被压垮，压垮你的是生活啊</p>
                    </li>
                    <li id="imgCard2">
                        <a href=""><span style="opacity:0.4;"></span></a>
                        <img src="https://img3.doubanio.com/view/photo/l/public/p456942791.webp" alt="">
                        <p>宫崎骏的电影，绝对是浮生安慰</p>
                    </li>
                    <li id="imgCard3">
                        <a href=""><span style="opacity:0.4;"></span></a>
                        <img src="https://img2.doubanio.com/view/photo/l/public/p2577575013.webp" alt="">
                        <p>唐人街探案3，2021年正式上映</p>
                    </li>
                    <li id="imgCard4">
                        <a href=""><span style="opacity:0.4;"></span></a>
                        <img src="https://img3.doubanio.com/view/photo/l/public/p2580789251.webp" alt="">
                        <p>放下成见，你会看到一部意料之外的《熊出没》</p>
                    </li>
                </ul>
                <!--火狐倒影图层-->
                <p id="rflt"></p>
                <!--火狐倒影图层-->
            </div>
            <!--序列号按钮-->
            <div class="btn_list">
                <span class="curr"></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>

    <!-- <div>
        <input type="text" id="input1"></input>
        <input type="text" id="input2"></input>
        <input type="text" id="input3"></input>
    </div> -->

    <div class="content">

        <div class="content_left">

            <div class="menu_top">
                <span>推荐影评</span>
                <!--<i class="iconfont" id="icon_list">&#xe695;</i>-->
                <div class="hamburger" id="hamburger-12">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </div>
            </div>

            <ul class="list_list">

                <!-- <li class="filmCritics_list fc">
                    <div class="filmCritics_cover" style="background-image:url(../../static/img/index.jpg)">
                        <span class="filmName"><i class="iconfont">&#xe8f9;</i>从你的全世界路过</span>
                    </div>
                    <div class="filmCritics_text">
                        <div class="filmCritics_title">
                            <h3>《花木兰》前途未卜？央视制作专题节目，从3个角度深入分析</h3>
                        </div>
                        <div class="filmCritics_info">
                            <img src="../../static/img/zhl.png">
                            <span>不捏泥人</span>
                            <span><i class="iconfont">&#xe8f9;</i>一个母亲的复仇</span>
                            <span><i class="layui-icon">&#xe63a;</i>4.6K</span>
                            <span><i class="layui-icon">&#xe68d;</i>2020-09-17 15:30</span>
                        </div>
                    </div>
                </li> -->

            </ul>

            <div>

            </div>

        </div>

        <div class="content_right">

            <div class="menu_top">
                <span>热门影评</span>
            </div>

            <div class="filmReview">
                <!-- <div class="filmReview_cover" style="background-image:url(../../static/img/hml2.jpg)">
                    <div class="tag">1</div>
                    <span>《花木兰》前途未卜？央视制作专题节目，从3个角度深入分析</span>
                </div> -->
            </div>

            <ul class="hotList">
                <!-- <li class="filmReview_last">
                    <div class="filmReview_last_cover" style="background-image:url(../../static/img/logo.png)">
                        <div class="tag">1</div>
                    </div>
                    <span>史今班长就是我心中军人的模样</span>
                </li>
                <li>
                    <div>2</div>
                    <span>最好的《士兵突击》，回味无穷</span>
                </li> -->
            </ul>

        </div>

    </div>

    <img class="top" src="../../static/img/rocket_up.png">

    <script src="../../static/js/jquery-1.11.0.min.js"></script>
    <script src="../../static/layui/layui.js" charset="utf-8"></script>
    <!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
    <script type="text/javascript" src="../../static/js/rotationChart.js"></script>
    <script src="../../static/js/header.js"></script>

    <script>

        $(document).ready(function () {

            var userInfo = JSON.parse(localStorage.getItem('userInfo'));
            if (userInfo == null) {
                userInfo = JSON.parse(sessionStorage.getItem('userInfo'));
            }

            const Ip = localStorage.getItem('Ip');

            var pageNumber = 1;
            var filmCritics_list = [];
            var hotList = [];
            var hotCriticsList = [];

            $("#hamburger-12").click(function () {

                $(this).toggleClass("is-active");

                $(".fc").toggleClass("filmCritics_list");
                $(".fc").toggleClass("filmCritics_item");

                $(".filmName").toggle();
                $('.movieName').toggle();
                $('.movieTime').toggle();

                /* if ($(".fc").hasClass("filmCritics_item")) {
                    $(".filmCritics_item").addClass("filmCritics_list");
                    $(".filmCritics_text_item").addClass("filmCritics_text");

                    $(".filmCritics_item").removeClass("filmCritics_item");
                    $(".filmCritics_text_item").removeClass("filmCritics_text_item");
                    $(".filmCritics_title").removeClass("filmCritics_title_item");
                    $(".filmCritics_info").removeClass("filmCritics_info_item");

                    $(".filmName").css("display", "none");
                    $('.movieName').show();
                    $('.movieTime').show();
                } else {
                    $(".filmCritics_list").addClass("filmCritics_item");
                    $(".filmCritics_text").addClass("filmCritics_text_item");
                    $(".filmCritics_title").addClass("filmCritics_title_item");
                    $(".filmCritics_info").addClass("filmCritics_info_item");

                    $(".filmCritics_list").removeClass("filmCritics_list");
                    $(".filmCritics_text").removeClass("filmCritics_text");

                    $(".filmName").css("display", "block");
                    $('.movieName').hide();
                    $('.movieTime').hide();
                } */
            });

            getHotFilm(1);

            $(".list_list").on("click", "li", function () {
                var id = $(this).data('id');
                var list = filmCritics_list.find((value, index, arr) => {
                    return value.id == id
                });

                var jsonStr = JSON.stringify(list);
                sessionStorage.setItem("filmReviewsInfo", jsonStr);
                window.location.href = "view_filmReviews.html";
            });

            $(document).on("click", ".filmReview_cover", function () {
                var id = $(this).data('id');
                findId(id);
            });

            $('.hotList').on("click", "li", function () {
                var id = $(this).data('id');
                console.log(id);
                findId(id);
            });

            function findId(id) {
                var list = hotCriticsList.find((value, index, arr) => {
                    return value.id == id
                });
                var jsonStr = JSON.stringify(list);
                sessionStorage.setItem("filmReviewsInfo", jsonStr);
                window.location.href = "view_filmReviews.html";
            }

            function compare(property, desc) {
                return function (a, b) {
                    var value1 = a[property];
                    var value2 = b[property];
                    if (desc == true) {
                        return value1 - value2;
                    } else {
                        return value2 - value1;
                    }
                }
            }

            function getHotFilm(page) {
                $.ajax({
                    type: "get",
                    url: Ip + '/review/queryReview/' + page,
                    dataType: 'json',
                    timeout: 0,
                    success: function (res) {
                        (res.data).forEach(value => {
                            hotCriticsList.push(value);
                            getFilmCrContent(value.id, value.userId);
                        });
                        if (res.data != [] && res.data.length > 0) {
                            getHotFilm(++page);
                        } else {
                            hot();
                        }
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            }

            function getFilmCrContent(filmId, authorId) {
                $.ajax({
                    type: "post",
                    url: Ip + '/review/queryContent/1',
                    dataType: 'json',
                    timeout: 0,
                    data: {
                        filmId: filmId,
                        authorId: authorId,
                        sort: 0,
                    },
                    success: function (res) {
                        hotList.push({
                            id: res.data.id,
                            skim: res.data.skim,
                            praise: res.data.praise
                        });
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            }

            function hot() {
                hotList.sort(compare("skim", false));

                $('.hotList').empty();

                var list = hotCriticsList.find((value, index, arr) => {
                    return value.id == hotList[0].id
                });

                $('.filmReview').append(
                    '<div data-id=' + list.id + ' class="filmReview_cover" style="background-image:url(' + Ip + "/file/images/" + list.userId + '/' + list.coverImg + ')">' +
                    '<div class="tag">1</div>' +
                    '<span>' + list.title + '</span>' +
                    '</div>'
                )

                for (let i = 1; i < 10; i++) {

                    var list = hotCriticsList.find((value, index, arr) => {
                        return value.id == hotList[i].id
                    });

                    $('.hotList').append(
                        '<li data-id=' + list.id + '>' +
                        '<div>' + (i + 1) + '</div>' +
                        '<span>' + list.title + '</span>' +
                        '</li>')
                }
            }

            layui.use('flow', function () {
                var $ = layui.jquery; //不用额外加载jQuery，flow模块本身是有依赖jQuery的，直接用即可。
                var flow = layui.flow;
                flow.load({
                    elem: '.list_list' //指定列表容器
                    , done: function (page, next) { //到达临界点（默认滚动触发），触发下一页

                        var lis = [];
                        //以jQuery的Ajax请求为例，请求下一页数据（注意：page是从2开始返回）
                        $.get(Ip + '/review/queryReview/' + page, function (res) {
                            //假设你的列表返回在data集合中
                            layui.each(res.data, function (index, value) {
                                lis.unshift('<li data-id=' + value.id + ' class="filmCritics_list fc">' +
                                    '<div class="filmCritics_cover" style="background-image:url(' + Ip + '/file/images/' + value.userId + '/' + value.coverImg + ')">' +
                                    '<span class="filmName"><i class="iconfont">&#xe8f9;</i>' + value.filmName + '</span>' +
                                    '</div>' +
                                    '<div class="filmCritics_text">' +
                                    '<div class="filmCritics_title">' +
                                    '<h3>' + value.title + '</h3>' +
                                    '</div>' +
                                    '<div class="filmCritics_info">' +
                                    '<img src="' + Ip + '/file/images/' + value.userId + '/' + value.headImg + '">' +
                                    '<span>' + value.nickName + '</span>' +
                                    '<span class="movieName"><i class="iconfont">&#xe8f9;</i>' + value.filmName + '</span>' +
                                    '<span class="movieTime"><i class="layui-icon">&#xe68d;</i>' + value.time + '</span>' +
                                    '</div>' +
                                    '</div>' +
                                    '</li>');
                                filmCritics_list.push(value);
                            });
                            next(lis.join(''), res.data != [] && res.data.length > 0);
                        });
                    }
                });
            });

        })

    </script>

    <script>

        window.onscroll = function () {
            var scroH = $(document).scrollTop();
            if (scroH >= 480) {
                $('.content_right').addClass('position');
            } else {
                $('.content_right').removeClass('position');
            }
        }

    </script>

    <script>
        $(".top").click(function () {
            $(this).attr("src", "../../static/img/rocket.gif")
            $(this).animate({ top: -200 }, 1000);
            $('html,body').animate({ scrollTop: 0 }, 1000);
            setTimeout(function () {
                $("top").animate({ top: -200 }, 3000);
                $(".top").attr("src", "../../static/img/rocket_up.png");
                $(".top").css("top", "66.5%!important");
            }, 3000);
        })
    </script>

    <!-- <script src="http://cdn.bootcss.com/jquery/1.11.0/jquery.min.js" type="text/javascript"></script>
    <script>window.jQuery || document.write('<script src="../../static/js/jquery-1.11.0.min.js"><\/script>')</script> -->

</body>

</html>