<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="no-referrer">
    <title>Title</title>
    <link href="../../static/css/movies.css" rel="stylesheet" type="text/css">
    <link href="../../static/css/iconfont.css" rel="stylesheet">
    <link href="../../static/css/sliderx.css" rel="stylesheet">
</head>
<body>
    <div class="rankList">
        <ul class="title">
            <li>高能排行</li>
            <li class="select">热映榜</li>
            <li>热播榜</li>
            <li>口碑榜</li>
        </ul>
        <ul class="list hotMovies">
            <li>
                <div class="cover" style="background-image: url(https://img2.doubanio.com/view/photo/s_ratio_poster/public/p2572166063.jpg)">
                    <span class="score">8.3</span>
                </div>
                <div class="info">
                    <h2>少年的你</h2>
                    <h5>爱情,青春,剧情 | 2019-10-25上映</h5>
                    <p>一次偶然中，陈念邂逅了名为小北（易烊千玺 饰）的小混混，随着时间的推移，心心相惜的两人之间产生了真挚的感情。小北答应陈念在暗中保护她免受魏莱的欺凌，没想到这一决定引发了一连串的连锁反应。负责调查胡晓蝶死因的警官郑易（尹昉 饰）隐隐察觉到校园里的古怪气氛，可他的调查却屡屡遭到校方的阻挠。</p>
                </div>
                <div class="rank">1</div>
            </li>
            <li>
                <div class="cover" style="background-image: url(https://img2.doubanio.com/view/photo/s_ratio_poster/public/p2369039272.jpg)">
                    <span class="score">9.8</span>
                    <span class="rank">2</span>
                </div>
                <span>人间世 第二季</span>
            </li>
            <li>
                <div class="cover" style="background-image: url(https://img2.doubanio.com/view/photo/s_ratio_poster/public/p2614628862.jpg)">
                    <span class="score">8.5</span>
                    <span class="rank">3</span>
                </div>
                <span>误杀</span>
            </li>
            <li>
                <div class="cover" style="background-image: url(https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2620379341.jpg)">
                    <span class="score">8.3</span>
                    <span class="rank">4</span>
                </div>
                <span>风犬少年的天空</span>
            </li>
            <li>
                <div class="cover" style="background-image: url(//i0.hdslb.com/bfs/bangumi/739ab01973c132d74ae2d4d9eaab5e34958b921f.jpg)">
                    <span class="score">9.3</span>
                    <span class="rank">5</span>
                </div>
                <span>士兵突击</span>
            </li>
            <li>
                <div class="cover" style="background-image: url(../../static/img/hml2.jpg)">
                    <span class="score">4.8</span>
                    <span class="rank">6</span>
                </div>
                <span>人间世 第二季</span>
            </li>
            <li>
                <div class="cover" style="background-image: url(../../static/img/hml2.jpg)">
                    <span class="score">4.8</span>
                    <span class="rank">7</span>
                </div>
                <span>人间世 第二季</span>
            </li>
            <li>
                <div class="cover" style="background-image: url(../../static/img/hml2.jpg)">
                    <span class="score">4.8</span>
                    <span class="rank">8</span>
                </div>
                <span>人间世 第二季</span>
            </li>
            <li>
                <div class="cover" style="background-image: url(../../static/img/hml2.jpg)">
                    <span class="score">4.8</span>
                    <span class="rank">9</span>
                </div>
                <span>人间世 第二季</span>
            </li>
        </ul>
    </div>

    <div class="collectionList" style="background-image: url(https://wx1.sinaimg.cn/large/0029D7FZly1gkzum2ct14j60my0cw14t02.jpg)">
        <div class="collectionInfo" >
            <h2>打工人不可错过的纪录片</h2>
            <h4>世间职业千千万，而我们有个共同的名字：打工人</h4>
            <div class="info">
                <img src="../../static/img/zhl.png">
                <span>匿名用户</span>
                <span>13部影片</span>
                <i class="iconfont">&#xe664;</i>
                <span>2020.10.28 更新</span>
            </div>
            <ul>
                <li>
                    <div class="cover_" style="background-image: url(https://img2.doubanio.com/view/photo/s_ratio_poster/public/p2369039272.jpg)">
                        <span class="score">4.8</span>
                    </div>
                    <span>人间世 第二季</span>
                </li>
                <li>
                    <div class="cover_" style="background-image: url(../../static/img/hml2.jpg)">
                        <span class="score">4.8</span>
                    </div>
                    <span>人间世 第二季</span>
                </li>
                <li>
                    <div class="cover_" style="background-image: url(../../static/img/hml2.jpg)">
                        <span class="score">4.8</span>
                    </div>
                    <span>人间世 第二季</span>
                </li>
                <li>
                    <div class="cover_" style="background-image: url(../../static/img/hml2.jpg)">
                        <span class="score">4.8</span>
                    </div>
                    <span>人间世 第二季</span>
                </li>
                <li>
                    <div class="cover_" style="background-image: url(https://img2.doubanio.com/view/photo/s_ratio_poster/public/p2369039272.jpg)">
                        <span class="score">4.8</span>
                    </div>
                    <span>人间世 第二季</span>
                </li>
                <li>
                    <div class="cover_" style="background-image: url(https://img2.doubanio.com/view/photo/s_ratio_poster/public/p2369039272.jpg)">
                        <span class="score">4.8</span>
                    </div>
                    <span>人间世 第二季</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="collectionList" style="background-image: url(../../static/img/yyqx.jpg)">
        <div class="collectionInfo" >
            <h2>打工人不可错过的纪录片</h2>
            <h4>世间职业千千万，而我们有个共同的名字：打工人</h4>
            <div class="info">
                <img src="../../static/img/zhl.png">
                <span>匿名用户</span>
                <span>13部影片</span>
                <i class="iconfont">&#xe664;</i>
                <span>2020.10.28 更新</span>
            </div>
            <ul>
                <li>
                    <div class="cover_" style="background-image: url(https://img2.doubanio.com/view/photo/s_ratio_poster/public/p2369039272.jpg)">
                        <span class="score">4.8</span>
                    </div>
                    <span>人间世 第二季</span>
                </li>
                <li>
                    <div class="cover_" style="background-image: url(../../static/img/hml2.jpg)">
                        <span class="score">4.8</span>
                    </div>
                    <span>人间世 第二季</span>
                </li>
                <li>
                    <div class="cover_" style="background-image: url(../../static/img/hml2.jpg)">
                        <span class="score">4.8</span>
                    </div>
                    <span>人间世 第二季</span>
                </li>
                <li>
                    <div class="cover_" style="background-image: url(../../static/img/hml2.jpg)">
                        <span class="score">4.8</span>
                    </div>
                    <span>人间世 第二季</span>
                </li>
                <li>
                    <div class="cover_" style="background-image: url(https://img2.doubanio.com/view/photo/s_ratio_poster/public/p2369039272.jpg)">
                        <span class="score">4.8</span>
                    </div>
                    <span>人间世 第二季</span>
                </li>
                <li>
                    <div class="cover_" style="background-image: url(https://img2.doubanio.com/view/photo/s_ratio_poster/public/p2369039272.jpg)">
                        <span class="score">4.8</span>
                    </div>
                    <span>人间世 第二季</span>
                </li>
            </ul>
        </div>
    </div>

    <!--<div class="collectionList" style="background-image: url(../../static/img/yyqx.jpg)">
        <div class="collectionInfo" >
            <h2>打工人不可错过的纪录片</h2>
            <h4>世间职业千千万，而我们有个共同的名字：打工人</h4>
            <div class="info">
                <img src="../../static/img/zhl.png">
                <span>匿名用户</span>
                <span>13部影片</span>
                <i class="iconfont">&#xe664;</i>
                <span>2020.10.28 更新</span>
            </div>
            <div class="bodyCon08">&lt;!&ndash;学员&ndash;&gt;
                <div class="students">
                    <div id="four_flash">
                        <div class="flashBg">
                            <ul class="mobile">
                                <li>
                                    <div class="cover_" style="background-image: url(https://img2.doubanio.com/view/photo/s_ratio_poster/public/p2369039272.jpg)">
                                        <span class="score">4.8</span>
                                    </div>
                                    <span>人间世 第一季</span>
                                </li>
                                <li>
                                    <div class="cover_" style="background-image: url(../../static/img/hml2.jpg)">
                                        <span class="score">4.8</span>
                                    </div>
                                    <span>人间世 第二季</span>
                                </li>
                                <li>
                                    <div class="cover_" style="background-image: url(../../static/img/hml2.jpg)">
                                        <span class="score">4.8</span>
                                    </div>
                                    <span>人间世 第三季</span>
                                </li>
                                <li>
                                    <div class="cover_" style="background-image: url(../../static/img/hml2.jpg)">
                                        <span class="score">4.8</span>
                                    </div>
                                    <span>人间世 第四季</span>
                                </li>
                                <li>
                                    <div class="cover_" style="background-image: url(../../static/img/hml2.jpg)">
                                        <span class="score">4.8</span>
                                    </div>
                                    <span>人间世 第五季</span>
                                </li>
                            </ul>
                        </div>
                        <div class="but_left">
                            <img src="../../static/img/left.png" />
                        </div>
                        <div class="but_right">
                            <img src="../../static/img/right.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->

    <!--<div class="collectionList" style="background-image: url(../../static/img/rsyc.jpg)">
        <div class="collectionInfo" >
            <h2>打工人不可错过的纪录片</h2>
            <h4>世间职业千千万，而我们有个共同的名字：打工人</h4>
            <div class="info">
                <img src="../../static/img/zhl.png">
                <span>匿名用户</span>
                <span>13部影片</span>
                <i class="iconfont">&#xe664;</i>
                <span>2020.10.28 更新</span>
            </div>
            <ul>
                <li>
                    <div class="cover" style="background-image: url(https://img2.doubanio.com/view/photo/s_ratio_poster/public/p2369039272.jpg)">
                        <span class="score">4.8</span>
                    </div>
                    <span>人间世 第二季</span>
                </li>
                <li>
                    <div class="cover" style="background-image: url(../../static/img/hml2.jpg)">
                        <span class="score">4.8</span>
                    </div>
                    <span>人间世 第二季</span>
                </li>
                <li>
                    <div class="cover" style="background-image: url(../../static/img/hml2.jpg)">
                        <span class="score">4.8</span>
                    </div>
                    <span>人间世 第二季</span>
                </li>
                <li>
                    <div class="cover" style="background-image: url(../../static/img/hml2.jpg)">
                        <span class="score">4.8</span>
                    </div>
                    <span>人间世 第二季</span>
                </li>
            </ul>
        </div>
    </div>-->

    <script src="../../static/js/jquery-1.11.0.min.js"></script>
    <script src="../../static/js/sliderx.js" type="text/javascript"></script>

</body>
</html>