<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="referrer" content="no-referrer">
    <link href="../../static/css/movie_details.css" type="text/css" rel="stylesheet">
</head>
<body>
    <div class="movie">
        <div class="bgImg" style="background-image: url(http://p0.meituan.net/movie/e00977359c9718949a7d1fff69f5baeb3782915.jpg)"></div>
        <div class="movieInfo_content">
            <img src="http://p0.meituan.net/movie/e00977359c9718949a7d1fff69f5baeb3782915.jpg">
            <div class="movieInfo">
                <h2>姜子牙</h2>
                <span>动画,动作,冒险</span>
                <span>导演：程腾,李炜,王昕,李夏</span>
                <span>2020-10-01上映</span>
                <button>收藏本片</button>
            </div>
            <div class="movieScore">

            </div>
        </div>
    </div>
    <div style="height: 1500px">

    </div>
</body>
</html>