<div class="bodyBar">
    <div class="top">
        <div class="top_1">
            <div class="headImg" style="background-image: url(../../static/img/logo.png)"></div>
            <div class="info_text">
                <span class="userName">匿名用户</span>
                <span class="userIntroduce"></span>
            </div>
        </div>
    </div>

    <ul class="navigation">
        <li class="options_1">
            <i class="iconfont" style="color: #00c091">&#xe628;</i>动态
        </li>
        <li>
            <i class="iconfont" style="color: #fb7299">&#xe632;</i>影评
        </li>
        <li>
            <i class="iconfont" style="color: #ff5d47">&#xe673;</i>影单
        </li>
        <li>
            <i class="iconfont" style="color: #ffa429">&#xe8fc;</i>影片
        </li>
        <li class="options_right">
            <span>粉丝数</span>
            <span id="fansNumber">845</span>
        </li>
        <li class="options_right">
            <span>关注数</span>
            <span id="followNumber">123</span>
        </li>
    </ul>
</div>