<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
    <link rel="stylesheet" href="../../static/layui/css/layui.css" media="all">
    <link href="../../static/css/user/userInfo.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/iconfont.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="../../static/css/user/header.css">
</head>

<body>

    <div class="body">
        <div class="top">
            <div class="top_1">
                <div class="headImg" style="background-image: url(../../static/img/logo.png)"></div>
                <div class="info_text">
                    <span class="userName">匿名用户</span>
                    <span class="userIntroduce"></span>
                </div>
            </div>
        </div>

        <div class="navigation">
            <div class="options" style="border-bottom: #00a1d6 solid 3px;">
                <i class="iconfont" style="color: #00c091">&#xe628;</i>
                <a href="userInfo_dynamic.html">动态</a>
            </div>
            <div class="options">
                <i class="iconfont" style="color: #fb7299">&#xe632;</i>
                <a href="userInfo_filmCritics.html">影评</a>
            </div>
            <div class="options">
                <i class="iconfont" style="color: #ff5d47">&#xe673;</i>
                <a href="userInfo_favorite.html"></a>影单
            </div>
            <div class="options">
                <i class="iconfont" style="color: #ff5d47">&#xe673;</i>
                <a href="userInfo_favorite.html"></a>订阅
            </div>
            <div class="options">
                <i class="iconfont" style="color: #23c9ed">&#xe7d4;</i>
                <a href="userInfo_setUp.html">设置</a>
            </div>
            <div class="options options_right">
                <span>粉丝数</span>
                <span>845</span>
            </div>
            <div class="options options_right">
                <span>关注数</span>
                <span>123</span>
            </div>
        </div>
    </div>
</body>

<script src="../../static/js/jquery-1.11.0.min.js" type="text/javascript"></script>
<script src="../../static/layui/layui.js" charset="utf-8"></script>

<script>

    $(document).ready(function () {

        var userInfo = JSON.parse(localStorage.getItem('userInfo'));
        if (userInfo == null) {
            userInfo = JSON.parse(sessionStorage.getItem('userInfo'));
        }
        const Ip = localStorage.getItem('Ip');

        $('.headImg').css("background-image", "url("+Ip+"/file/images/" + userInfo.id + "/" + userInfo.headImg + ")");
        $('.userName').text(userInfo.nickName);
        $('.userIntroduce').text(userInfo.introduce);

    })

</script>

</html>