<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>查看影评</title>
    <link rel="stylesheet" href="../../static/css/iconfont.css">
    <link rel="stylesheet" href="../../static/css/user/view_filmReviews.css">
    <link rel="stylesheet" href="../../static/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../static/css/user/header.css">
</head>

<body>
    <header></header>
    <div class="body" id="app">
        <img class="cover" src="../../static/img/load_2.gif">
        <h1 class="title">头条文章「仅粉丝阅读全文」功能调整</h1>
        <div class="info">
            <img class="headImg" src="../../static/img/logo.png">
            <span class="userName">不捏泥人</span>
            <i class="iconfont">&#xe664;</i>
            <span class="time">2020-10-28 10:24</span>
            <i class="iconfont">&#xe8f9;</i>
            <span class="filmName">人生一串</span>
            <button class="fans">+ 关注</button>
        </div>
        <div class="content">
        </div>
        <div class="commentInput">
            <img class="headImg_user" src="../../static/img/logo.png">
            <textarea id="commentText" type="text" placeholder="说一句你的观点吧！"></textarea>
            <button id="commentBtn">发布</button>
        </div>
        <ul class="commentList">
            <!-- <li class="listItem">
                <img class="headImg" src="../../static/img/zhl.png">
                <div class="user">
                    <span>匿名用户</span>
                    <p>
                        读一本好书，终身受益；<br>
                        抱睿总大腿，终身会员。<br>
                        ↓ 排队抱大腿人数
                    </p>
                    <div class="date">
                        <span>2020-10-28 12:45</span>
                        <i class="iconfont liked">&#xe608;</i>
                        <span>645</span>
                        <span class="delComment ">
                            <i class="iconfont">&#xe614;</i>
                        </span>
                    </div>
                </div>
            </li> -->
        </ul>
    </div>

    <div class="side like liked">
        <i class="iconfont">&#xe60b;</i>
        <span id="likeNumber">684</span>
    </div>
    <div class="side skim">
        <i class="iconfont">&#xe629;</i>
        <span id="skimNumber">1255</span>
    </div>
    <div class="side comment">
        <i class="iconfont">&#xe6d9;</i>
    </div>
    <img class="top" src="../../static/img/rocket_up.png">

    <script src="../../static/js/jquery-1.11.0.min.js"></script>
    <script src="../../static/layui/layui.js" charset="utf-8"></script>
    <script src="../../static/js/header.js"></script>

    <script>
        $(document).ready(function () {

            var userInfo = JSON.parse(localStorage.getItem('userInfo'));
            if(userInfo==null){
                userInfo = JSON.parse(sessionStorage.getItem('userInfo'));
                if(userInfo==null){
                    userInfo={
                        id:0
                    }
                }
            }

            const Ip = localStorage.getItem('Ip');
            
            var filmReviewsInfo = JSON.parse(sessionStorage.getItem('filmReviewsInfo'));
            sessionStorage.removeItem('filmReviewsInfo');

            $('.cover').attr('src', ''+Ip+'/file/images/' + filmReviewsInfo.userId + '/' + filmReviewsInfo.coverImg);
            $('.title').text(filmReviewsInfo.title);
            $('.headImg').attr('src', ''+Ip+'/file/images/' + filmReviewsInfo.userId + '/' + filmReviewsInfo.headImg);
            $('.userName').text(filmReviewsInfo.nickName);
            $('.time').text(filmReviewsInfo.time);
            $('.filmName').text(filmReviewsInfo.filmName);

            if(userInfo.id!=0){
                $('.headImg_user').attr('src', ''+Ip+'/file/images/' + userInfo.id + '/' + userInfo.headImg);
            }

            if (userInfo.id == filmReviewsInfo.userId) {
                $('.fans').css('display', 'none')
            } else {
                isFans();
            }

            request_filmReview();

            $('.fans').click(function () {
                if(userInfo.id==0){
                    alert("请先登录！");
                    window.location.href = "login.html";
                    return false;
                }else{
                    if ($('.fans').hasClass('fansOn')) {
                        $('.fans').removeClass('fansOn')
                        $('.fans').text('+ 关注')
                    } else {
                        $('.fans').addClass('fansOn')
                        $('.fans').text('已关注')
                    }
                    fans();
                }
            })

            $('.like').click(function () {
                if(userInfo.id==0){
                    alert("请先登录！");
                    window.location.href = "login.html";
                    return false;
                }else{
                    var likeNumber = $('#likeNumber').text();
                    console.log(likeNumber)
                    if ($('.like').hasClass('liked')) {
                        $('.like').removeClass('liked');
                        $('#likeNumber').text(parseInt(likeNumber) - parseInt(1));
                    } else {
                        $('.like').addClass('liked')
                        $('#likeNumber').text(parseInt(likeNumber) + parseInt(1));
                    }
                    like();
                }
            })

            $('.comment').click(function () {
                var contentH = $('.content').height();
                $('html,body').animate({ scrollTop: contentH + 380 }, 700);
            })

            $('#commentBtn').click(function () {

                if(userInfo.id==0){
                    alert("请先登录！");
                    window.location.href = "login.html";
                    return false;
                }

                var commentText = $('#commentText').val();
                var time;
                var myDate = new Date();
                var year = myDate.getFullYear();        //获取当前年
                var month = myDate.getMonth() + 1;   //获取当前月
                var date = myDate.getDate();            //获取当前日
                //var h=myDate.getHours();              //获取当前小时数(0-23)
                //var m=myDate.getMinutes();          //获取当前分钟数(0-59)
                time = year + '-' + month + '-' + date
                console.log(time);
                $.ajax({
                    type: "post",
                    url: Ip+'/comment/insertComment',
                    dataType: 'json',
                    timeout: 0,
                    data: {
                        filmId: filmReviewsInfo.id,
                        userId: userInfo.id,
                        time: time,
                        sort: '0',
                        content: commentText
                    },
                    success: function (res) {
                        $('.commentList').prepend('<li class="listItem">' +
                            '<img class="headImg" src="'+Ip+'/file/images/' + userInfo.id + '/' + userInfo.headImg + '">' +
                            '<div class="user">' +
                            '<span>' + userInfo.nickName + '</span>' +
                            '<p>' + commentText + '</p>' +
                            '<div class="date">' +
                            '<span>' + time + '</span>' +
                            '<span data-id=' + res.data.id + ' class="delComment ">' +
                            '<i class="iconfont">&#xe614;</i>' +
                            '</span>' +
                            '</div>' +
                            '</div>' +
                            '</li>');
                        $('#commentText').val('')
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            })

            $(".commentList").on("click", ".delComment", function () {
                /* var arr = $(this).attr('id');
                var id = arr.split("-"); */
                var id = $(this).data('id');
                //$(this).closest('li').remove();
                var _this = this;
                $.ajax({
                    type: "post",
                    url: Ip+'/comment/deleteComment',
                    dataType: 'json',
                    timeout: 0,
                    data: {
                        id: id,
                        userId: userInfo.id
                    },
                    success: function (res) {
                        console.log(res)
                        $(_this).closest('li').remove();
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            });

            $(document).on("click", ".headImg", function () {
                if(userInfo.id==0){
                    alert("请先登录！");
                    window.location.href = "login.html";
                    return false;
                }else{
                    var id = filmReviewsInfo.userId;
                    if (id != userInfo.id) {
                        window.location.href = "other_userInfo_dynamic.html?id=" + id;
                    } else {
                        window.location.href = "userInfo_dynamic.html";
                    }
                }
            })

            function request_filmReview() {
                $.ajax({
                    type: "post",
                    url: Ip+'/review/queryContent/1',
                    dataType: 'json',
                    timeout: 0,
                    data: {
                        filmId: filmReviewsInfo.id,
                        authorId: filmReviewsInfo.userId,
                        sort: '0'
                    },
                    success: function (res) {
                        var reg = new RegExp("file/images/", 'g')
                        var content = res.data.content;
                        content = content.replace(reg, ""+Ip+"/file/images/");
                        $('.content').append(content);
                        $('#likeNumber').text(res.data.praise)
                        $('#skimNumber').text(res.data.skim)
                        ifLike(res.data.id, 1)
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            }

            layui.use('flow', function () {
                var $ = layui.jquery; //不用额外加载jQuery，flow模块本身是有依赖jQuery的，直接用即可。
                var flow = layui.flow;
                flow.load({
                    elem: '.commentList' //指定列表容器
                    , done: function (page, next) { //到达临界点（默认滚动触发），触发下一页

                        var del = '<span class="delComment"><i class="iconfont">&#xe614;</i></span>';
                        var lis = [];
                        //以jQuery的Ajax请求为例，请求下一页数据（注意：page是从2开始返回）
                        $.get(Ip+'/comment/queryComment/' + page + '?filmId=' + filmReviewsInfo.id + '&sort=0', function (res) {
                            //假设你的列表返回在data集合中
                            layui.each(res.data, function (index, value) {
                                lis.unshift('<li class="listItem">' +
                                    '<img class="headImg" data-id='+value.userId+' src="'+Ip+'/file/images/' + value.userId + '/' + value.headImg + '">' +
                                    '<div class="user">' +
                                    '<span>' + value.nickName + '</span>' +
                                    '<p>' + value.content + '</p>' +
                                    '<div class="date">' +
                                    '<span>' + value.time + '</span>' +
                                    (value.userId == userInfo.id ? '<span id=comment-' + value.id + ' class="delComment"><i class="iconfont">&#xe614;</i></span>' : '') +
                                    '</div>' +
                                    '</div>' +
                                    '</li>');
                            });
                            //执行下一页渲染，第二参数为：满足“加载更多”的条件，即后面仍有分页
                            //pages为Ajax返回的总页数，只有当前页小于总页数的情况下，才会继续出现加载更多
                            next(lis.join(''), res.data != [] && res.data.length > 0);
                        });
                    }
                });
            });

            function ifLike() {
                $.ajax({
                    type: "post",
                    url: Ip+'/review/isPraise',
                    dataType: 'json',
                    timeout: 0,
                    data: {
                        filmId: filmReviewsInfo.id,
                        userId: userInfo.id,
                        sort: '0'
                    },
                    success: function (res) {
                        if (res.data == true) {
                            $('.like').addClass('liked')
                        } else {
                            $('.like').removeClass('liked')
                        }
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            }

            function like() {
                $.ajax({
                    type: "post",
                    url: Ip+'/review/praise',
                    dataType: 'json',
                    timeout: 0,
                    data: {
                        filmId: filmReviewsInfo.id,
                        userId: userInfo.id,
                        sort: 0
                    },
                    success: function (res) {
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            }

            function isFans() {
                $.ajax({
                    type: "post",
                    url: Ip+'/review/isFans',
                    dataType: 'json',
                    timeout: 0,
                    data: {
                        fansId: userInfo.id,
                        userId: filmReviewsInfo.userId,
                    },
                    success: function (res) {
                        if (res.data == true) {
                            $('.fans').text('已关注')
                            $('.fans').addClass('fansOn')
                        } else {
                            $('.fans').text('+ 关注')
                        }
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            }

            function fans() {
                $.ajax({
                    type: "post",
                    url: Ip+'/review/fans',
                    dataType: 'json',
                    timeout: 0,
                    data: {
                        fansId: userInfo.id,
                        userId: filmReviewsInfo.userId,
                    },
                    success: function (res) {
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            }

        })
    </script>

    <!-- <script>

        window.onscroll = function(){
            var scroH = $(document).scrollTop();
            var contentH=$('.content').height();
            var skim=parseInt($('#skimNumber').text());
            console.log(skim);
            console.log(scroH);
            if(scroH>=contentH+380){
                console.log("-0-0-0-0-0")
                $('#skimNumber').text(++skim)
            }
        }

        function () {
            $('html,body').animate({ scrollTop: 0 }, 700);
        });

    </script> -->

    <script>
        $(".top").click(function () {
            $(this).attr("src", "../../static/img/rocket.gif")
            $(this).animate({ top: -200 }, 1000);
            $('html,body').animate({ scrollTop: 0 }, 1000);
            setTimeout(function () {
                $("top").animate({ top: -200 }, 3000);
                $(".top").attr("src", "../../static/img/rocket_up.png");
                $(".top").css("top", "66.5%!important");
            }, 3000);
        })
    </script>

</body>

</html>