<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/css/iconfont.css">
    <link rel="stylesheet" href="../../static/css/view_filmReviews.css">
</head>
<body>
    <div class="body" id="app">
        <img class="cover" src="http://p1.meituan.net/moviemachine/ca9d0c0268a940d73d62c004d57b957a5241814.jpg">
        <h1>头条文章「仅粉丝阅读全文」功能调整</h1>
        <div class="info">
            <img class="headImg" src="../../static/img/zhl.png">
            <span>不捏泥人</span>
            <i class="iconfont">&#xe664;</i>
            <span>2020-10-28 10:24</span>
            <button>+ 关注</button>
        </div>
        <div class="content">
            《人生一串》完结了。<br>
            感谢导演，感谢主创团队，为B站创作出这么好的纪录片。<br>
            短短六集，陪我们度过了半个夏天。2800多万播放量，超出了所有人的预期。有朋友劝过我，B站计算播放量的方式太实诚了，某些平台同样的观看量，可能已经喊出上亿的数字，这太吃亏。<br>
            但是在B站，这数字背后都是活生生的人，大家一起边看，边发着弹幕，就像夏夜和朋友相聚在路边的烧烤摊，一瓶啤酒，两盘烤串，几句闲聊。这是我们的生活，真实而坦诚。<br>
            生活，又是五味杂陈的，对于我来说，工作就是我的生活。在生活里我们不停遇到大大小小的挫折，遇到不开心。但每个周三，在观看《人生一串》的时候，那些形形色色、质朴的烧烤店老板们和食客们，那些片尾随着音乐排列出现的弹幕“多谢款待”，都能让我得到满足和感动，一个人就开心起来 :-)<br>
            就像那位烟台的店主。在食客们尽情享受着他作品的同时，他在厨房门口满足的欣赏着客人们的表情，不由自主也撸了两串。<br>
            这是一部和中国普通人的心灵世界息息相通的作品，是真正的中国故事。我们应该给B站的用户制作更多这样的作品。<br>
            话说回来，我是成都人，虽然烧烤不是成都最大的特色，但片子里没有成都，作为投资人我是有点小情绪的。很多儿时的朋友看了片子，发微信向我抱怨，然后一起回忆当年好吃的烧烤。聊着聊着，就聊到了深夜。<br>
            我想，这就是“人生一串”吧。
            感谢导演，感谢主创团队，为B站创作出这么好的纪录片。<br>
            短短六集，陪我们度过了半个夏天。2800多万播放量，超出了所有人的预期。有朋友劝过我，B站计算播放量的方式太实诚了，某些平台同样的观看量，可能已经喊出上亿的数字，这太吃亏。<br>
            但是在B站，这数字背后都是活生生的人，大家一起边看，边发着弹幕，就像夏夜和朋友相聚在路边的烧烤摊，一瓶啤酒，两盘烤串，几句闲聊。这是我们的生活，真实而坦诚。<br>
            生活，又是五味杂陈的，对于我来说，工作就是我的生活。在生活里我们不停遇到大大小小的挫折，遇到不开心。但每个周三，在观看《人生一串》的时候，那些形形色色、质朴的烧烤店老板们和食客们，那些片尾随着音乐排列出现的弹幕“多谢款待”，都能让我得到满足和感动，一个人就开心起来 :-)<br>
            就像那位烟台的店主。在食客们尽情享受着他作品的同时，他在厨房门口满足的欣赏着客人们的表情，不由自主也撸了两串。<br>
            这是一部和中国普通人的心灵世界息息相通的作品，是真正的中国故事。我们应该给B站的用户制作更多这样的作品。<br>
            话说回来，我是成都人，虽然烧烤不是成都最大的特色，但片子里没有成都，作为投资人我是有点小情绪的。很多儿时的朋友看了片子，发微信向我抱怨，然后一起回忆当年好吃的烧烤。聊着聊着，就聊到了深夜。<br>
            我想，这就是“人生一串”吧。
        </div>
        <div class="commentInput">
            <img class="headImg" src="../../static/img/yyqx.jpg">
            <textarea type="text" placeholder="发条友善的评论" ></textarea>
            <button>发布</button>
        </div>
        <div class="commentList">
            <div class="listItem">
                <img class="headImg" src="../../static/img/zhl.png">
                <div class="user">
                    <span>匿名用户</span>
                    <p>
                        读一本好书，终身受益；<br>
                        抱睿总大腿，终身会员。<br>
                        ↓    排队抱大腿人数
                    </p>
                    <div class="date">
                        <span>2020-10-28 12:45</span>
                        <i class="iconfont liked">&#xe608;</i>
                        <span>645</span>
                    </div>
                </div>
            </div>
            <div class="listItem">
                <img class="headImg" src="../../static/img/hml.jpg">
                <div class="user">
                    <span>匿名用户</span>
                    <p>
                        读书无用论都是扯淡
                    </p>
                    <div class="date">
                        <span>2020-10-28 12:45</span>
                        <i class="iconfont">&#xe608;</i>
                        <span>645</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="side like liked">
        <i class="iconfont">&#xe60b;</i>
        <span>684</span>
    </div>
    <div class="side comment">
        <i class="iconfont">&#xe6d9;</i>
        <span>1255</span>
    </div>

    <script src="../../static/js/vue.js"></script>
    <script>
        var vm=new Vue({
            el:'#app',
            data:{
                text:'',
            },
            methods:{}
        });
    </script>
</body>
</html>